Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Sarvetha 
Sarvetha
/
codefore
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
codefore
/
public
/
web.config
in
master
 

Spaces

4

No wrap
1
<!--
2
    Rewrites requires Microsoft URL Rewrite Module for IIS
3
    Download: https://www.iis.net/downloads/microsoft/url-rewrite
4
    Debug Help: https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-failed-request-tracing-to-trace-rewrite-rules
5
-->
6
<configuration>
7
  <system.webServer>
8
    <rewrite>
9
      <rules>
10
        <rule name="Imported Rule 1" stopProcessing="true">
11
          <match url="^(.*)/$" ignoreCase="false" />
12
          <conditions>
13
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
14
          </conditions>
15
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
16
        </rule>
17
        <rule name="Imported Rule 2" stopProcessing="true">
18
          <match url="^" ignoreCase="false" />
19
          <conditions>
20
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
21
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
22
          </conditions>
23
          <action type="Rewrite" url="index.php" />
24
        </rule>
25
      </rules>
26
    </rewrite>
27
  </system.webServer>
28
</configuration>
29
​
@Sarvetha
Commit changes
Commit summary
Create web.config
Optional extended description
Add an optional extended description…
 Commit directly to the master branch.
 Create a new branch for this commit and start a pull request. Learn more about pull requests.
 
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
